.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%; 
    min-height: 100vh; 
    padding-left: 40px; 
    padding-top: 20px;
    box-sizing: border-box;
}

.hero h1 {
    font-size: 4em; 
    font-weight: bold;
    color: #1a73e8; 
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.25em; 
    color: #1a73e8; 
    line-height: 1.6; 
    margin-bottom: 30px;
}

.hero .buttons {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.hero .register-button {
    background-color: #ff5527;
    color: white; 
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero .sponsor-link {
    color: #1a73e8; 
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.hero .sponsor-link:hover {
    text-decoration: none; 
}

.text-container {
    position: absolute;
    left: 156px; /* Adjusted as per your requirements */
    top: 300px;
    width: calc(50% - 156px); /* Dynamically calculate width */
}

.logo {
    position: absolute; /* Positions the logo absolutely relative to the nearest positioned ancestor */
    top: 0; /* Aligns the logo to the top of the hero section */
    left: 0; /* Aligns the logo to the left side of the screen */
    z-index: 1000; /* Ensures the logo is above all other content, adjust as necessary */
    margin-top: 30px; /* Keeps spacing from the top edge consistent */
    margin-left: 50px; /* Increases left margin to move the logo to the right */
}

.mlh-logo {
    position: absolute; /* Positions the logo absolutely relative to the nearest positioned ancestor */
    top: 0; /* Aligns the logo to the top of the hero section */
    left: 0; /* Aligns the logo to the left side of the screen */
    z-index: 1000; /* Ensures the logo is above all other content, adjust as necessary */
    margin-left: 156px; /* Increases left margin to move the logo to the right */
}

.hero-right {
    position: absolute; /* Positions the logo absolutely relative to the nearest positioned ancestor */
    top: 150px; /* Aligns the logo to the top of the hero section */
    left: 100px; /* Aligns the logo to the left side of the screen */
    margin-left: 800px; /* Increases left margin to move the logo to the right */
}

.hero-section {
    position: absolute; /* Keeps the section positioned absolutely relative to its nearest positioned ancestor */
    left: 50%; /* Center horizontally */
    bottom: 100px; /* Aligns the section to the bottom of the viewport */
    transform: translateX(-50%); /* Corrects the horizontal positioning to truly center the section */
    width: 100%; /* Adjust width as necessary, assuming you want some margin from the edges */
    max-width: 1500px; /* Optional: Max width for larger screens */
}
