.track-container {
  font-family: Arial, sans-serif;
  margin: 20px 200px;
  padding: 20px;
  text-align: center;
  background-image: url('../../assets/track.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80vw;
  height: 60vh;
  min-height: 300px;
  min-width: 500px;
}

.track-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.track-card {
  padding: 30px;
}

.track-header {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
}

.track-icon {
  width: 50px;
  height: 50px;
  background-color: #e0f0ff;
  color: #0B5CD5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  margin-right: 10px; /* Adjusted for space between icon and title */
}

.track-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #0B5CD5;
  margin: 0;
}

.track-description {
  font-size: 0.9em;
  color: #0B5CD5;
  margin-top: 10px;
  text-align: left; /* Align text to the left */
}

.track {
  text-align: center;  /* Center the text if not already centered */
  margin-top: -100px;   /* Apply a negative top margin to move it upwards */
}

h2 {
  color: #0B5CD5;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 120px;
}

